body {
    margin: 0;
    padding: 0;
    background-color: #fcd7bb;
}

nav {
    height: 100vh;
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;
    line-height: 15vh;
    background-color: #d1630f;
    text-align: center;
    overflow-x: hidden;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav a {
    display: block;
    color: #f2f2f2;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    flex: 1;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

h1 {
    font-size: 32px;
    color: #333;
    font-weight: bold;
    text-align: center;
}

form {
    text-align:center;
}

div { 
    margin: 0 auto;
    width: 50%;
}

.center {
    vertical-align: center;
    margin: auto;
    width: 50%;
    height: 10vh;
    border-collapse: collapse;
    text-align: center;
    background-color: #c4692472;
}

  
th, td {
    border: 1px solid black;
}


th {
    height: 10px;
    background-color: #c46924;
  
}

td {
    height: 6px;
}